body {
    background-color: #1f2127;
    min-width: 600px;
    min-height: 300px;
}
.react-logo {
    width: 120px;
    height: auto;
    display: block;
    margin: 65px 0 0 65px;
}
.form-login {
    position: absolute;
    height: 276px;
    width: 800px;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}