html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #1f2127;
    min-width: 600px;
    min-height: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: 'Log in title', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Fjalla+One');
}
/* UNAUTHORIZED */
.not-found-unauthorized-container {
    display: block;
    position: absolute;
    height: 276px;
    width: 800px;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 40px;
}
/* LOG_IN PAGE */
.react-logo {
    width: 120px;
    height: auto;
    display: block;
    margin: 65px 0 0 65px;
}
.login-form {
    display: block;
    position: absolute;
    height: 276px;
    width: 800px;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.login-title {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Log in title', sans-serif;
    padding-bottom: 5px;
    width: 100%;
    height: 40px;
    margin: 0 auto 60px auto;
    display: block;
}
.login-inputs {
    color: #808499;
    font-family: 'Log in title', sans-serif;
    font-size: 15px;
    width: 360px;
    margin: 0 auto;
}
.login-inputs label {
    margin-right: 10px;
    min-width: 100px;
    display: flex;
}
.login-inputs input{
    display: flex;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #808499;
    width: 100%;
}
.login-inputs input, textarea{
    color: white;
    outline: none;
}
.login-inputs input:focus{
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
}
.login-input-wrapper {
    display: flex;
    margin:  0 0 15px 0;
    width: 100%;
    padding: 5px 0 5px 0;
}
.login-button {
    display: block;
    width: 100%;
    color: white;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #0b65b1;
    border: none;
    padding: 15px 0 15px 0;
    margin-top: 25px;
    cursor: pointer;
}
/* COMMON */
.navbar-fixed-top {
    display: flex;
    background-color: #33353d;
    -webkit-box-shadow: 0 7px 10px 0 rgba(34,35,41,1);
    -moz-box-shadow:    0 7px 10px 0 rgba(34,35,41,1);
    box-shadow:         0 7px 10px 0 rgba(34,35,41,1);
    overflow: hidden;
    width: 100%;
}
.logout-button {
    background-color: #00d8ff;
    border-radius: 50px;
    border: none;
    padding: 5px;
    margin: 5px 10px 0 auto;
    float: right;
    clear: both;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.navbar-logo {
    width: 50px;
    height: auto;
}
.navbar-logo-wrapper {
    display: inline-block;
    max-height: 50px;
    width: auto;
    margin: 0 10px 0 10px;
    padding: 5px;
}
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    display: flex;
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    flex: 1 0 auto;
}
.footer {
    display: flex;
    background-color: #33353d;
    overflow: hidden;
    min-height: 60px;
}
.dashboard {
    margin: auto;
}
.dashboard-title {
    font-size: 50px;
    text-align: center;
}
.dashboard-list {
    list-style-type: none;
}
.dashboard-list li {
    margin: 5px;
}
.spinner-box {
    margin-top: 40px;
    text-align: center;
}
.spinner-box i {
    cursor: pointer;
}